<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <!-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script> -->
</head>

<body>
    {% load static %}
    <h1>Últimas Noticias</h1>

    {% if ultimas_noticias %}

    {% for noticia in ultimas_noticias %}
    <div class="div">
        <img src="{{noticia.thumbnail}}" style="
                        width: 13em;
                        height: 5em;
                    ">
        <p>{{ noticia.categoria }}</p>
        <h2>{{ noticia.titulo }}</h2>
    </div>
    {% endfor %}


    {% else %}

    <p>Não existe nenhuma Noticia.</p>

    {% endif %}

</body>

</html>